.title {
    flex: 2;
    font-size: 10rem;
    margin-top: 20%;
    justify-content: center;
}

.workButton {
    // color: black;
    .workLabel {
        font-size: 3rem;
        color: black;
    }
    .darkLabel {
        font-size: 3rem;
        color: greenyellow;
        // font-family: monospace;
    }
}

.navRows {
    padding: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.container {
    position: center;
    display: center;
    flex-direction: column;
}

.darkContainer {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: black;
}

.workFont {
    @extend .title;
    font-family: 'Times New Roman', Times, serif;
    // color: grey;
}

.codeFont {
    @extend .title;
    font-family: monospace;
    color: greenyellow;
}

.artFont {
    @extend .title;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    // color:lightcoral;
}